<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/chamindac/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="yourusername" />
            <add key="ClearTextPassword" value="6c0110f571d3b15d2f361ebc86205c297b8ed4b2" />
        </github>
    </packageSourceCredentials>
</configuration>
